.all_spot_container {
  display: flex;
  gap: 10px;
  margin: 20px 0;
  width: 100%; 
}

.big_image {
  flex: 3;
  /* grid-area: bigimage; */
  height: 100%;
  overflow: hidden;
  border-radius: 8px;
}

.big_image img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  border-radius: 8px;
}

.small_images {
  flex:2;
  display: grid;
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: repeat(2, 1fr); 
  gap: 10px;
  height: 100%;
}

.small_images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.small_images img:hover {
  transform: scale(1.1); 
}
