.all_spot_container {
  display: grid;
  grid-template-areas: 
      "bigimage smallimage";
  grid-template-columns: 3fr 2fr; 
  gap: 10px;
  margin: 20px 0;
  width: 100%; 
}

.big_image {
  display: grid;
  grid-area: bigimage;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 8px;
}

.big_image img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  border-radius: 8px;
}

.small_image {
  grid-area: smallimage;
  display: grid;
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: repeat(2, 1fr); 
  gap: 10px;
}

.small_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.small_image img:hover {
  transform: scale(1.1); 
}
