.hidden {
    display: none
}

.profile-dropdown{
    position: absolute; 
    background-color: white;
    margin-top: 10px; 
    right: 0; 
}

.user_icon{
    display: flex;
    justify-content: center;
    align-items: center;
}